<!DOCTYPE html>
    <html lang="en">
<head>
        <meta charset="utf-8" />
        <title>Admin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="sancode | Software Argentina" name="description" />
        <%- include('partials/head') %>
  </head>  
<style>
.botonesNav{
  text-align: left;
} 
  .contenidoAdmin{   
    text-align: center;    
  }
  hr{
    margin: 15px;
  }
  .logoAdmin{
    margin: 15px;
  }
.sidebar {
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
} 
.sidebar a.active {
  background-color: #0d6efd;
  color: white;
}
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
</style>
  <body id="bodyId" class="esconder content">
    <%- include('partials/spinner') %>
    <%- include('partials/navbarLogued') %>
    <%- include('partials/leftBarAdmin') %>  
        <div class="container py-5 h-100">
          <div class="row py-3 px-3 d-flex justify-content-center align-items-center h-100 card shadow-2-strong"  style="border-radius: 1rem">
                                   <table id="usuarios" class="table table-striped" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>N°</th>
                                                <th>E-Mail</th>
                                                <th>Contraseña</th>
                                                <th>Perfil/Rol</th>                
                                            </tr>
                                        </thead>    
                                        <tbody>
                                            <% for(var i = 0; i<users.length; i++){  %>  
                                                <tr>
                                                    <td><%= i +1 %> </td>
                                                    <td><%=users[i].email %> </td>
                                                    <td><%=users[i].password %> </td>
                                                    <td><%=users[i].rol %> </td>
                                                </tr>   
                                                <%}%> 
                                            </tbody>       
                                        </table>   
                                        </div> 
                                    </div>     
    </body>
</html>
<%- include('partials/postFooter') %>
<%- include('partials/postFooterAdmin') %>