<!DOCTYPE html>
    <html lang="en">
<head>
        <meta charset="utf-8" />
        <title>ADMIN</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="sancode | Software Argentina" name="description" />
        <%- include('partials/head') %>
  </head>
  <body id="bodyId" class="esconder">
    <%- include('partials/spinner') %>
    <%- include('partials/leftBarAdmin') %>  
        <div class="container py-5 h-100">
          <div class="row py-3 px-3 d-flex justify-content-center align-items-center h-100 card shadow-2-strong"  style="border-radius: 1rem">
                                   <table id="usuarios" class="table table-striped" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>N°</th>
                                                <th>E-Mail</th>
                                                <th>Contraseña</th>
                                                <th>Perfil/Rol</th>                
                                            </tr>
                                        </thead>    
                                        <tbody>
                                            <% for(var i = 0; i<users.length; i++){  %>  
                                                <tr>
                                                    <td><%= i +1 %> </td>
                                                    <td><%=users[i].email %> </td>
                                                    <td><%=users[i].password %> </td>
                                                    <td><%=users[i].rol %> </td>
                                                </tr>   
                                                <%}%> 
                                            </tbody>       
                                        </table>   
                                        </div> 
                                    </div>     
    </body>
</html>
<%- include('partials/postFooter') %>
<%- include('partials/postFooterAdmin') %>