<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8" />
        <title>Carga de Artículos | app</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="sancode | Software Argentina" name="description" />
        <meta content="sancode" name="author" /> 
        <link rel="shortcut icon" href="assets/images/favicon.ico">  
        <%- include('partials/head') %>
    </head>
    <body id="bodyId" class="esconder">
        <%- include('partials/spinner') %>  
        <%- include('partials/navbarLogued') %>
                            <form action="/agregar-articulos" method="POST" enctype="multipart/form-data">
                                               <h4>Agregar un nuevo artículo</h4>                                     
                                          
                                                            <div class="form-group">
                                                                <label>Código</label>
                                                                <input required onkeyup="SincractividadesRecientes()" type="text" name="codigoArticulo" class="form-control" id="campocodigo" >
                                                                <span class="font-13 text-muted">Ejemplo: asd</span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Nombre</label>
                                                                <input required onkeyup="SincractividadesRecientes()" type="text" name="nombre" class="form-control" id="camponombre" >
                                                                <span class="font-13 text-muted">Ejemplo: qwe</span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Medida</label>
                                                                <input type="text" name="medida" class="form-control" 
                                                                value="0" maxlength="15" 
                                                                onkeydown="validateNumber(event);">                        
                                                                
                                                                <br>
                                                                <select name="medidaUnidad" class="form-control">
                                                                    <option disabled selected>Seleccionar unidad</option>                                                                    
                                                                    <option value="-">Sin especificar</option>
                                                                    <optgroup label="Longitud">                                                               
                                                                        <option value="Decímetro">Decímetro</option>
                                                                        <option value="Metro">Metro</option>
                                                                        <option value="Centímetro">Centímetro</option>
                                                                        <option value="Milímetro">Milímetro</option>
                                                                        <option value="Micrómetro">Micrómetro</option>
                                                                                                                               
                                                                    </optgroup>                                                                    
                                                                    <optgroup label="Superficie">                                                             
                                                                        <option value="Decímetro²">Decímetro²</option>
                                                                        <option value="Metro²">Metro²</option>
                                                                        <option value="Centímetro²">Centímetro²</option>                                                                     
                                                                        <option value="Milímetro²">Milímetro²</option>                                                                    
                                                                    </optgroup>
                                                                    <optgroup label="Volumen">                                                           
                                                                        <option value="Metro³">Metro³</option>
                                                                        <option value="Centímetro³">Centímetro³</option>
                                                                        <option value="Milímetro³">Milímetro³</option>                                                                                                                         
                                                                    </optgroup>
                                                                 

                                                                </select>                                                                
                                                                
                                                                <label>Imágen del Artículo</label>
                                                                <br>
                                                                <input onchange="actualizarinfoimagen(); vistapreviadelaimagen(this);" id="campoimagen" name="imagenarticulo" type="file" class="form-control btn btn-primary botonsubirimagen" accept="image/x-png,image/gif,image/jpeg">
                                                                <br>
                                                                <span class="font-13 text-muted">Subir imágen del articulo al servidor</span>                                                                
                                                                <img id="vistaprevia" src="#" alt="Vista Previa imágen" style="display: none;"/>                                                                   
                                                                <button onclick="actualizarinfoimagen()" type="submit" class="btn btn-success" id="botonagregar">
                                                                    Agregar
                                                                </button>   
            
                
                                                <!-- Actividades recientes Update 
                                                    
                                                    Importante
                                                    iconoActividadColor: bg-primary-lighten 
                                                    textoActividadColor: text-primary

                                                    Poco Importante
                                                    iconoActividadColor: bg-info-lighten 
                                                       textoActividadColor: text-info-->                                                      
                                                       
                                                       
                                                       <div style="display: none;">
                                                        <input type="text" name="imgartUrl" value="" class="form-control" id="imagenasubir"> 
                                                        
                                                        <input type="text" text="yeah" name="responsable" class="form-control" value="<%=user.email %>">
                                                        <input type="text" name="icono" class="form-control" value="mdi-directions">
                                                        <input type="text" name="iconoActividadColor" class="form-control" value="bg-info-lighten">
                                                        <input type="text" name="textoActividadColor" class="form-control" value="text-info">
                                                        <input type="text" name="asunto" class="form-control" value="Nuevo Artículo Cargado">
                                                        <input type="text" name="descripcion" class="form-control" id="campocodigomasnombre">  
                                                        
                                                 </div>                                                        
                                                       

                                
                    </form>  
        <script>
        function vistapreviadelaimagen(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#vistaprevia')
                        .attr('src', e.target.result)
                        .width(200)
                        .height(200);
                };

                reader.readAsDataURL(input.files[0]);
                vista = document.getElementById("vistaprevia");
                vista.style.display = ("block");
            }
        }

            function SincractividadesRecientes()
            {
              var CampoCodigo = document.getElementById('campocodigo');
              var CampoNombre = document.getElementById('camponombre');
              var CampoCodigoMasNombre = document.getElementById('campocodigomasnombre');

              CampoCodigoMasNombre.value = "creó el artículo Cod.: " + CampoCodigo.value + " " + "Nombre: " + CampoNombre.value;
            }

            function actualizarinfoimagen(){   
                var chequear = document.getElementById('campoimagen').value;
                
                if( chequear != ""){
           
                var valorcrudo = document.getElementById('campoimagen').value;
                var splits = valorcrudo.split('fakepath\\');
                var valorsinfake = splits[1];                
                var valoraguardar = document.getElementById('imagenasubir');
                valoraguardar.value =  ((Date.now()/10000)).toFixed(0) + valorsinfake;}

                if( chequear == ""){
                    var valoraguardar = document.getElementById('imagenasubir');
                    valoraguardar.value = "noimgdefault01.jpg";

                }                               
            }        
   

            function validateNumber(evt) {
                    var e = evt || window.event;
                    var key = e.keyCode || e.which;

                    if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
                    // numbers   
                    key >= 48 && key <= 57 ||
                    // Numeric keypad
                    key >= 96 && key <= 105 ||
                    // Backspace and Tab and Enter
                    key == 8 || key == 9 || key == 13 ||
                    // Home and End
                    key == 35 || key == 36 ||
                    // left and right arrows
                    key == 37 || key == 39 ||
                    key == 190 || key == 109 || key == 110 ||
                    // Del and Ins
                    key == 46 || key == 45) {
                        // input is VALID
                    }
                    else {
                        // input is INVALID
                        e.returnValue = false;
                        if (e.preventDefault) e.preventDefault();
                    }
            }

        </script>   
    </body>
</html>
<%- include('partials/postFooter') %>