<!DOCTYPE html>
<html lang="en">
    

<head>
        <meta charset="utf-8" />
        <title>Consulta enviada | sancode86</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="sancode86 | Software Argentina" name="description" />
        <meta content="sancode86" name="author" />
        <link rel="shortcut icon" href="assets/images/favicon.ico">        

        <link rel="stylesheet" href="assets/css/estiloprincipal.css">
        <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/app-dark.min.css" rel="stylesheet" type="text/css" <%=user.varColorModoOscuro%> />
        <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" <%=user.varColorModoClaro%>/>
    </head>

    <body class="loading" data-layout-config='{}'data-leftbar-compact-mode="<%=user.barraCompact%>" data-leftbar-theme="<%=user.barraIzqTema%>">

        

        <%- include('partials/head') %>  

            <div class="content-page">
                <div class="content">     
                    <div class="container-fluid">
                  
                        </div> 
                        <div class="row" style="width: 70%; margin: auto;">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body text-center" >
                                        <br>
                                        <br>
                                        <h4 class="header-title">¡La consulta fué enviada!</h4>
                                        <p class="text-muted font-14">
                                            Le responderemos lo antes posible. Muchas gracias.
                                        </p>
                                        <br>
                                        <a href="panel"> <button class="btn btn-primary" >
                                            Aceptar
                                        </button></a>
                                        <br>
                                        <br>
                                        </div>                                        
                                    </div>                                       
                                </div>             
                            </div> 
                        </div> 

                    </div> 

                </div>          
                <%- include('partials/footer') %>   

            </div> 

        </div>  

    </body>

</html>
