<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <title>Consulta Artículos | app</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta content="sancode | Software Argentina" name="description" />
      <meta content="sancode" name="author" />
     
      <%- include('partials/head') %>

   </head>
   <body id="bodyId" class="esconder">
      <%- include('partials/spinner') %>
      <%- include('partials/navbarLogued') %>
  

      <div class="content-page">
         <div class="content">


            <div class="container-fluid">          
               <div id="previewImage" style="display: none;"></div>
               <div class="row">
                  <div class="col-12">
                     <div class="card">
                        <div class="card-body">                        
                           <h4 class="header-title">Artículos cargados</h4>
                           <p class="text-muted font-14">
                              Mostrando todos los artículos de la base de datos.
                           </p>
                           <ul class="nav nav-tabs nav-bordered mb-3">
                              <li class="nav-item">
                                 <a href="#buttons-table-general" data-toggle="tab" aria-expanded="false" class="nav-link active">
                                 Vista General
                                 </a>
                              </li>
                              <li class="nav-item">
                                 <a href="#buttons-table-costos" data-toggle="tab" aria-expanded="true" class="nav-link">
                                 Costos
                                 </a>
                              </li>
                              <li class="nav-item">
                                 <a href="#buttons-table-resumen" data-toggle="tab" aria-expanded="true" class="nav-link">
                                 Resumen
                                 </a>
                              </li>
                           </ul>
                           <!-- end nav-->                                  
                           <div class="tab-content">
                              <div class="tab-pane show active" id="buttons-table-general">
                                 <table id="datatable-buttons" class="table table-striped dt-responsive nowrap w-100">
                                    <thead>
                                       <tr>
                                          <th>Imágen</th>
                                          <th>Código</th>
                                          <th>Nombre</th>
                                          <th>Medida</th>
                                          <th>Unidad</th>
                                          <th>Peso</th>
                                          <th>Unidad</th>
                                          <th>Tipo</th>
                                          <th>Stock</th>
                                          <th>Necesidad</th>
                                          <th>Habilitado</th>
                                          <th>Acción</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <% for(var i = 0; i<articulosobj.length; i++){  %>          
                                       <tr>
                                          <td><img src="/uploads/<%=articulosobj[i].imgartUrl%>" alt="contact-img" title="contact-img" class="rounded mr-3" height="48" /></td>
                                          <td><%=articulosobj[i].codigoArticulo%></td>
                                          <td><%=articulosobj[i].nombre%></td>
                                          <td><%=articulosobj[i].medida%></td>
                                          <td><%=articulosobj[i].medidaUnidad%></td>
                                          <td><%=articulosobj[i].peso%></td>
                                          <td><%=articulosobj[i].pesoUnidad%></td>
                                          <td><%=articulosobj[i].tipoArticulo%></td>
                                          <td><span class="badge badge-primary"><%=articulosobj[i].stockActual%></span></td>
                                          <td>
                                             <div class="progress">
                                                <%var porc=((articulosobj[i].stockActual)*100/articulosobj[i].stockMaximo) %>                                                                     
                                                <div class="progress-bar" id="porcentaje" role="progressbar" style="width: '<%= porc.toFixed(1)%>%;'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">     <%=((articulosobj[i].stockActual)*100/articulosobj[i].stockMaximo).toFixed(1) %> %</div>
                                             </div>
                                          </td>
                                          <td>                                                             
                                             <input type="checkbox" onchange="window.location.href='/estado-habilitado-art/<%= articulosobj[i]._id %>'" id="switch<%=[i]%>" data-switch="success" <%= articulosobj[i].habilitado ? 'checked':'unchecked' %> />                                                               
                                             <label for="switch<%=[i]%>" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>                                                               
                                          </td>
                                          <td class="table-action">   
                                             <a href="/editar-articulos/<%=articulosobj[i]._id %>" class="action-icon"> <i class="mdi mdi-pencil"></i></a>                                                             
                                             <a href="/borrar-articulo/<%=articulosobj[i]._id %>" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                          </td>
                                       </tr>
                                       <%}%> 
                                    </tbody>
                                 </table>
                              </div>
                              <!-- end preview-->                     
                              <div class="tab-pane show" id="buttons-table-costos">
                                 <!-- <table id="scroll-vertical-datatable" class="table table-striped dt-responsive nowrap w-100"> -->
                                 <table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
                                    <thead>
                                       <tr>
                                          <th>Código</th>
                                          <th>Nombre</th>
                                          <th>Costo Producción</th>
                                          <th>Moneda Costo</th>
                                          <th>Precio de Venta</th>
                                          <th>Moneda Venta</th>
                                          <th>Ganancia Bruta</th>
                                          <th>% Gan. Bruta</th>
                                          <th>Fecha Carga</th>
                                          <th>Acción</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <% for(var i = 0; i<articulosobj.length; i++){  %>          
                                       <tr>
                                          <td><%=articulosobj[i].codigoArticulo%></td>
                                          <td><%=articulosobj[i].nombre%></td>
                                          <td><%=articulosobj[i].costoProduccion%></td>
                                          <td><%=articulosobj[i].costoProduccionmoneda%></td>
                                          <td><%=articulosobj[i].precioVenta%></td>
                                          <td><%=articulosobj[i].precioVentaMoneda%></td>
                                          <td><%=articulosobj[i].precioVenta - articulosobj[i].costoProduccion%></td>
                                          <td><%=(((articulosobj[i].precioVenta - articulosobj[i].costoProduccion)/articulosobj[i].precioVenta)*100).toFixed(1)%>%</td>
                                          <th><%=articulosobj[i].createdAt.toLocaleDateString()%></th>
                                          <td class="table-action">                                                                
                                             <a href="/editar-articulos/<%=articulosobj[i]._id %>" class="action-icon"> <i class="mdi mdi-pencil"></i></a>                                                             
                                             <a href="/borrar-articulo/<%=articulosobj[i]._id %>" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                          </td>
                                       </tr>
                                       <%}%> 
                                    </tbody>
                                 </table>
                              </div>
                         
                              <div class="tab-pane" id="buttons-table-resumen">
                                 <h4 class="header-title">Representacion gráfica de Tipos de Articulos en la base de datos</h4>
                                 <div class="row">
                                    <div class="col-md-6">
                                       <div class="text-center">
                                          <canvas class="graficotipoprod" id="graficotiposdearticulo"></canvas>
                                       </div>
                                       <br> 
                                    </div>
                                    <div class="col-md-6">
                                       <% var cantprodterm = 0; %>  
                                       <% for(var i = 0; i<articulosobj.length; i++){  %>  
                                       <%if(articulosobj[i].tipoArticulo == 'Producto A'){%>                                                                                               
                                       <%  cantprodterm = cantprodterm +1;     %>                
                                       <%}%>                   
                                       <%}%> 
                                       <p>Cantiadad de Productos A: </p>
                                       <p id="cantprodterm"><%=cantprodterm%></p>
                                       <% var cantprodsemi = 0; %>  
                                       <% for(var i = 0; i<articulosobj.length; i++){  %>  
                                       <%if(articulosobj[i].tipoArticulo == 'Producto B'){%>                                                                                               
                                       <%  cantprodsemi = cantprodsemi +1;     %>                
                                       <%}%>                   
                                       <%}%> 
                                       <p>Cantiadad de Producto B: </p>
                                       <p id="cantprodsemi"><%=cantprodsemi%></p>
                                       <% var cantprodmatpri = 0; %>  
                                       <% for(var i = 0; i<articulosobj.length; i++){  %>  
                                       <%if(articulosobj[i].tipoArticulo == 'Producto C'){%>                                                                                               
                                       <%  cantprodmatpri = cantprodmatpri +1;     %>                
                                       <%}%>                   
                                       <%}%> 
                                       <p>Cantidad de Producto C: </p>
                                       <p id="cantprodmatpri"><%=cantprodmatpri%></p>
                                       <% var cantprodsinesp = 0; %>  
                                       <% for(var i = 0; i<articulosobj.length; i++){  %>  
                                       <%if(articulosobj[i].tipoArticulo == 'Sin Especificar'){%>                                                                                               
                                       <%  cantprodsinesp = cantprodsinesp +1;     %>                
                                       <%}%>                   
                                       <%}%> 
                                       <p>Cantidad de artículos sin especificar: </p>
                                       <p id="cantprodsinesp"><%=cantprodsinesp%></p>
                                    </div>
                                 </div>
                                 <br>
                                 <h4 class="header-title">Cantidad de Artículos habilitados</h4>
                                 <div class="row">
                                    <div class="col-md-6">
                                       <div class="text-center">
                                          <canvas class="graficotipoprod" id="graficohab"></canvas>
                                       </div>
                                       <br> 
                                    </div>
                                    <div class="col-md-6">
                                       <% var canthab = 0; %>  
                                       <% for(var i = 0; i<articulosobj.length; i++){  %>  
                                       <%if(articulosobj[i].habilitado == 1){%>                                                                                               
                                       <%  canthab = canthab +1;     %>                
                                       <%}%>                   
                                       <%}%> 
                                       <p>Cantiadad habilitados: </p>
                                       <p id="canthab"><%=canthab%></p>
                                       <% var cantdeshab = 0; %>  
                                       <% for(var i = 0; i<articulosobj.length; i++){  %>  
                                       <%if(articulosobj[i].habilitado == 0){%>                                                                                               
                                       <%  cantdeshab = cantdeshab +1;     %>                
                                       <%}%>                   
                                       <%}%> 
                                       <p>Cantiadad deshabilitados: </p>
                                       <p id="cantdeshab"><%=cantdeshab%></p>
                                    </div>
                                 </div>
                              </div>
                              <!--solapa de resumen -->
                           </div>
                           <!-- end tab-content-->
                        </div>
                        <!-- end card body-->
                     </div>
                     <!-- end card -->
                  </div>
               </div>
            </div>
  
         </div>
  


      </div>
   
      </div>


   </body>
   <%- include('partials/postFooter') %>
   <script>
      // tipos de articulos en la base de datos
      var cantprodtermdato = document.getElementById('cantprodterm').innerHTML;
      var cantprodsemidato = document.getElementById('cantprodsemi').innerHTML;
      var cantprodmatpridato = document.getElementById('cantprodmatpri').innerHTML;
      var cantprodsinespdato = document.getElementById('cantprodsinesp').innerHTML;           
      
      var ctx = document.getElementById('graficotiposdearticulo').getContext('2d');
      var tiposdeart = new Chart(ctx, {
          type: 'doughnut',
          data: {
              labels: ['Sin especificar', 'Producto B', 'Producto C', 'Producto A'],
              datasets: [{
                  label: '# Tipos de Productos',
                  data: [cantprodsinespdato, cantprodsemidato, cantprodmatpridato, cantprodtermdato],
                  
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)'
                   
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)'
                  ],
                  borderWidth: 1
              }]
          },
      });        
      
      // articulos habilitados
                  var canthabdato = document.getElementById('canthab').innerHTML;
                  var cantdeshabdato = document.getElementById('cantdeshab').innerHTML;
                     
      
                  var ctx = document.getElementById('graficohab').getContext('2d');
                  var canthab = new Chart(ctx, {
                      type: 'doughnut',
                      data: {
                          labels: ['Habilitados', 'Deshabilitados'],
                          datasets: [{
                              label: '# Artículos Habilitados',
                              data: [canthabdato, cantdeshabdato],
                              
                              backgroundColor: [
                                  'rgba(75, 192, 192, 0.2)',
                                  'rgba(255, 99, 132, 0.2)'
                          
                              
                              ],
                              borderColor: [
                                  'rgba(75, 192, 192, 1)',
                                  'rgba(255, 99, 132, 1)'
                        
                              ],
                              borderWidth: 1
                          }]
                      },

                  });         
      
      // convertir a archivo de excel
          function exportTableToExcel(tableID, filename = ''){
                  var downloadLink;
                  var dataType = 'application/vnd.ms-excel';
                  var tableSelect = document.getElementById("datatable-buttons");
                  var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
                  
                  // Specify file name
                  filename = filename?filename+'.xls':'excel_data.xls';
                  
                  // Create download link element
                  downloadLink = document.createElement("a");
                  
                  document.body.appendChild(downloadLink);
                  
                  if(navigator.msSaveOrOpenBlob){
                      var blob = new Blob(['\ufeff', tableHTML], {
                          type: dataType
                      });
                      navigator.msSaveOrOpenBlob( blob, filename);
                  }else{
                      // Create a link to the file
                      downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
                  
                      // Setting the file name
                      downloadLink.download = filename;
                      
                      //triggering the function
                      downloadLink.click();
                  }
          }
      
          $(document).ready(function(){
              
              var element = $("#datatable-buttons"); // global variable
              var getCanvas; // global variable
              
              $("#btn-Convert-Html2Image").on('click', function () {
      
                      html2canvas(element, {
                      onrendered: function (canvas) {
                          $("#previewImage").append(canvas);
                              getCanvas = canvas;                
                              
                              var imgageData = getCanvas.toDataURL("image/png");
                                  // Now browser starts downloading it instead of just showing it
                                  var newData = imgageData.replace(/^data:image\/png/, "data:application/octet-stream");
                                  $("#btn-Convert-Html2Image").attr("download", "sancode-imagen-consulta.png").attr("href", newData);                
                              }            
                          });    
                      });
                  });
   </script>


</html>