<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <title>Consulta Artículos | app</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta content="sancode86 | Software Argentina" name="description" />
      <meta content="sancode86" name="author" />
     
      <%- include('partials/head') %>

   </head>
   <body id="bodyId" class="esconder">
      <%- include('partials/spinner') %>
      <%- include('partials/navbarLogued') %>
      <div class="text-center">
      <h1>Posteos cargados</h1>                        
      </div>
      <br>
      <div class="content-page">
         <div class="content">


            <div class="container-fluid">          
               <div id="previewImage" style="display: none;"></div>
               <div class="row">
                  <div class="col-12">
                     <div class="card">
                        <div class="card-body">                        
                           <ul class="nav nav-tabs nav-bordered mb-3">
                              <li class="nav-item">
                                 <a href="#buttons-table-general" data-toggle="tab" aria-expanded="false" class="nav-link active">
                                 Vista General
                                 </a>
                              </li>                             
                           </ul>                                                   
                           <div class="tab-content">
                              <div class="tab-pane show active" id="buttons-table-general">
                                 <table id="datatable-buttons" class="table table-striped dt-responsive nowrap w-100">
                                    <thead>
                                       <tr>
                                          <th>Imágen</th>
                                          <th>Titulo</th>
                                          <th>Descripcion</th>
                                          <th>Tipo</th>                                       
                                          <th>Habilitado</th>
                                          <th>Acción</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <% for(var i = 0; i<articulosobj.length; i++){  %>          
                                       <tr>
                                          <td><img src="/uploads/<%=articulosobj[i].imgartUrl%>" alt="contact-img" title="contact-img" class="rounded mr-3" height="48" /></td>
                                          <td><%=articulosobj[i].titulo%></td>
                                          <td><%=articulosobj[i].descripcion%></td>
                                          <td><%=articulosobj[i].tipoPost%></td>                                 
                                         
                                     
                                          <td>                                                             
                                             <input type="checkbox" onchange="window.location.href='/estado-habilitado-art/<%= articulosobj[i]._id %>'" id="switch<%=[i]%>" data-switch="success" <%= articulosobj[i].habilitado ? 'checked':'unchecked' %> />                                                               
                                             <label for="switch<%=[i]%>" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>                                                               
                                          </td>
                                          <td class="table-action">   
                                             <a href="/editar-articulos/<%=articulosobj[i]._id %>" class="btn btn-outline-primary"> Editar</a>                                                             
                                             <a href="/borrar-articulo/<%=articulosobj[i]._id %>" class="btn btn-danger"> Borrar</a>
                                          </td>
                                       </tr>
                                       <%}%> 
                                    </tbody>
                                 </table>
                              </div>                    
                           </div>                  
                        </div>          
                     </div>           
                  </div>
               </div>
            </div>  
         </div>
      </div>   
      </div>
   </body>
   <%- include('partials/postFooter') %>
   <script>
      // // tipos de articulos en la base de datos
      // var cantprodtermdato = document.getElementById('cantprodterm').innerHTML;
      // var cantprodsemidato = document.getElementById('cantprodsemi').innerHTML;
      // var cantprodmatpridato = document.getElementById('cantprodmatpri').innerHTML;
      // var cantprodsinespdato = document.getElementById('cantprodsinesp').innerHTML;           
      
      // var ctx = document.getElementById('graficotiposdearticulo').getContext('2d');
      // var tiposdeart = new Chart(ctx, {
      //     type: 'doughnut',
      //     data: {
      //         labels: ['Sin especificar', 'Producto B', 'Producto C', 'Producto A'],
      //         datasets: [{
      //             label: '# Tipos de Productos',
      //             data: [cantprodsinespdato, cantprodsemidato, cantprodmatpridato, cantprodtermdato],
                  
      //             backgroundColor: [
      //                 'rgba(255, 99, 132, 0.2)',
      //                 'rgba(54, 162, 235, 0.2)',
      //                 'rgba(255, 206, 86, 0.2)',
      //                 'rgba(75, 192, 192, 0.2)'
                   
      //             ],
      //             borderColor: [
      //                 'rgba(255, 99, 132, 1)',
      //                 'rgba(54, 162, 235, 1)',
      //                 'rgba(255, 206, 86, 1)',
      //                 'rgba(75, 192, 192, 1)'
      //             ],
      //             borderWidth: 1
      //         }]
      //     },
      // });        
      
      // // articulos habilitados
      //             var canthabdato = document.getElementById('canthab').innerHTML;
      //             var cantdeshabdato = document.getElementById('cantdeshab').innerHTML;
                     
      
      //             var ctx = document.getElementById('graficohab').getContext('2d');
      //             var canthab = new Chart(ctx, {
      //                 type: 'doughnut',
      //                 data: {
      //                     labels: ['Habilitados', 'Deshabilitados'],
      //                     datasets: [{
      //                         label: '# Artículos Habilitados',
      //                         data: [canthabdato, cantdeshabdato],
                              
      //                         backgroundColor: [
      //                             'rgba(75, 192, 192, 0.2)',
      //                             'rgba(255, 99, 132, 0.2)'
                          
                              
      //                         ],
      //                         borderColor: [
      //                             'rgba(75, 192, 192, 1)',
      //                             'rgba(255, 99, 132, 1)'
                        
      //                         ],
      //                         borderWidth: 1
      //                     }]
      //                 },

      //             });         
      
      // // convertir a archivo de excel
      //     function exportTableToExcel(tableID, filename = ''){
      //             var downloadLink;
      //             var dataType = 'application/vnd.ms-excel';
      //             var tableSelect = document.getElementById("datatable-buttons");
      //             var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
                  
      //             // Specify file name
      //             filename = filename?filename+'.xls':'excel_data.xls';
                  
      //             // Create download link element
      //             downloadLink = document.createElement("a");
                  
      //             document.body.appendChild(downloadLink);
                  
      //             if(navigator.msSaveOrOpenBlob){
      //                 var blob = new Blob(['\ufeff', tableHTML], {
      //                     type: dataType
      //                 });
      //                 navigator.msSaveOrOpenBlob( blob, filename);
      //             }else{
      //                 // Create a link to the file
      //                 downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
                  
      //                 // Setting the file name
      //                 downloadLink.download = filename;
                      
      //                 //triggering the function
      //                 downloadLink.click();
      //             }
      //     }
      
      //     $(document).ready(function(){
              
      //         var element = $("#datatable-buttons"); // global variable
      //         var getCanvas; // global variable
              
      //         $("#btn-Convert-Html2Image").on('click', function () {
      
      //                 html2canvas(element, {
      //                 onrendered: function (canvas) {
      //                     $("#previewImage").append(canvas);
      //                         getCanvas = canvas;                
                              
      //                         var imgageData = getCanvas.toDataURL("image/png");
      //                             // Now browser starts downloading it instead of just showing it
      //                             var newData = imgageData.replace(/^data:image\/png/, "data:application/octet-stream");
      //                             $("#btn-Convert-Html2Image").attr("download", "sancode86-imagen-consulta.png").attr("href", newData);                
      //                         }            
      //                     });    
      //                 });
      //             });
   </script>


</html>