<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <title>Consulta Set | app</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta content="icheck | Software Argentina" name="description" />
      <meta content="icheck" name="author" />
      <!-- App favicon -->
      <link rel="shortcut icon" href="assets/images/favicon.ico">
      <!-- third party css -->
      <link href="assets/css/vendor/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
      <link href="assets/css/vendor/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
      <link href="assets/css/vendor/buttons.bootstrap4.css" rel="stylesheet" type="text/css" />
      <link href="assets/css/vendor/select.bootstrap4.css" rel="stylesheet" type="text/css" />
      <!-- third party css end -->
      <script src="assets/js/jquery.min.js"></script>
    
      <script src="assets/js/vendor/html2canvas.js"></script>
      <!-- App css -->
      <script src="assets/js/select2/select2.js"></script>
      <link rel="stylesheet" href="assets/css/estiloprincipal.css">
      <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
      <link href="assets/css/app-dark.min.css" rel="stylesheet" type="text/css" <%=user.varColorModoOscuro%> />
      <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" <%=user.varColorModoClaro%>/>
      <script src="assets/js/vendor/Chart.bundle.min.js"></script>
   </head>
   <body class="loading" data-layout-config='{}'data-leftbar-compact-mode="<%=user.barraCompact%>" data-leftbar-theme="<%=user.barraIzqTema%>">
  
      <%- include('partials/barra') %>
      <div class="content-page">
         <div class="content">

            <%- include('partials/topbar') %>      
            <div class="container-fluid">
               <div class="row">
                  <div class="col-12">
                     <div class="page-title-box">
                        <div class="page-title-right">
                           <ol class="breadcrumb m-0">
                              <li class="breadcrumb-item"><a href="javascript: void(0);">Componentes</a></li>
                              <li class="breadcrumb-item"><a href="javascript: void(0);">Inventario</a></li>
                              <li class="breadcrumb-item active">Consulta de Sets</li>
                           </ol>
                        </div>
                        <h4 class="page-title">Consulta de Sets</h4>
                     </div>
                  </div>
               </div>   








         <div id="popUpSet" class="popUpSet centrar" style="display: none;">
            <h4 class="page-title">Componentes del Set</h4> 
            <button onclick="cerrarPopUpSet()" class="cerrarSet btn btn-success">Cerrar</button>       
            <div class="componentesDelSet">
               <div class="centrar">
             
                     <div id="componentesDelSetId" class="contenedorComponentes"> 
                        <!-- componentes -->  
           
                  </div>
               </div>
            </div>
         </div>

















               <div id="previewImage" style="display: none;"></div>
               <div class="row">
                  <div class="col-12">
                     <div class="card">
                        <div class="card-body">
                           <div class="justificarderecha" >
                              <div class="input-group-prepend">
                                 <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Exportar</button>
                                 <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="exportTableToExcel('datatable-buttons', 'Consulta-Articulos')" href="#">Microsoft Excel</a>
                                    <a class="dropdown-item"  id="btn-Convert-Html2Image" href="#">Descargar como Im치gen</a>
                    
                                 </div>
                              </div>
                           </div>
                           <h4 class="header-title">Sets cargados</h4>
                           <p class="text-muted font-14">
                              Mostrando todos los sets en la base de datos.
                           </p>
                   
                           <!-- end nav-->                                  
                           <div class="tab-content">
                              <div class="tab-pane show active" id="buttons-table-general">
                                 <table id="datatable-buttons" class="table table-striped dt-responsive nowrap w-100">
                                    <thead>
                                       <tr>
                                          <th>Im치gen</th>
                                          <th>C칩digo</th>
                                          <th>Nombre</th>
                                          <th>Medida</th>
                                          <th>Unidad</th>
                                          <th>Peso</th>
                                          <th>Unidad</th>
                                          <th>Tipo</th>
                                          <th>Contenido</th>                                   
                                          <th>Habilitado</th>
                                          <th>Acci칩n</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <% for(var i = 0; i<articulosobj.length; i++){  %>          
                                       <tr>
                                          <td><img src="/uploads/<%=articulosobj[i].imgartUrl%>" alt="contact-img" title="contact-img" class="rounded mr-3" height="48" /></td>
                                          <td><%=articulosobj[i].codigoSet%></td>
                                          <td><%=articulosobj[i].nombreSet%></td>
                                          <td><%=articulosobj[i].medida%></td>
                                          <td><%=articulosobj[i].medidaUnidad%></td>
                                          <td><%=articulosobj[i].peso%></td>
                                          <td><%=articulosobj[i].pesoUnidad%></td>
                                          <td><%=articulosobj[i].tipoArticulo%></td>
                                          <td><button onclick="mostrarContenidoSet(<%=articulosobj[i].componentesSet%>);" class="btn btn-success">VER</button></td>                                     
                                          <td>                                                             
                                             <input type="checkbox" onchange="window.location.href='/estado-habilitado-set/<%= articulosobj[i]._id %>'" id="switch<%=[i]%>" data-switch="success" <%= articulosobj[i].habilitado ? 'checked':'unchecked' %> />                                                               
                                             <label for="switch<%=[i]%>" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>                                                               
                                          </td>
                                          <td class="table-action">   
                                             <a href="/editar-set/<%=articulosobj[i]._id %>" class="action-icon"> <i class="mdi mdi-pencil"></i></a>                                                             
                                             <a href="/borrar-set/<%=articulosobj[i]._id %>" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                          </td>
                                       </tr>
                                       <%}%> 
                                    </tbody>
                                 </table>
                              </div>
                              <!-- end preview-->                     
                              
                         
                              
                              <!--solapa de resumen -->
                           </div>
                           <!-- end tab-content-->
                        </div>
                        <!-- end card body-->
                     </div>
                     <!-- end card -->
                  </div>
               </div>
            </div>
  
         </div>
  
         <%- include('partials/footer') %>

      </div>
   
      </div>

      <%- include('partials/rightbar') %>

   </body>
   <script>
    

function mostrarContenidoSet(contenido){
      console.log(contenido)

      var componentesDelSetDiv = document.getElementById("componentesDelSetId");

      componentesDelSetDiv.innerHTML = "";
      for(var i = 0; i<contenido.length; i++){
               var divParaComponente = document.createElement("div");
               divParaComponente.setAttribute("class", "tarjetaComp");  
               divParaComponente.setAttribute("id", "div" + i);  
               componentesDelSetDiv.appendChild(divParaComponente);  

               var divCreado = "div" + i;

               var divCreadoId =  document.getElementById(divCreado)

               var texto1 = document.createElement("p");
               texto1.innerHTML = contenido[i].nombre;   
               texto1.setAttribute("class", "textoTar");       
               divCreadoId.appendChild(texto1);   


               var texto2 = document.createElement("p");
               texto2.innerHTML = contenido[i].codigo;   
               texto2.setAttribute("class", "textoTar");       
               divCreadoId.appendChild(texto2);   


               var crearImagen = document.createElement("img");
               crearImagen.src = "uploads/" + contenido[i].imagen;   
               crearImagen.setAttribute("class", "imagenComponente");       
               divCreadoId.appendChild(crearImagen);  
      }

      var popUpSetId = document.getElementById("popUpSet");

      popUpSetId.style.display = "block"
}



function cerrarPopUpSet(){
   var popUpSetId = document.getElementById("popUpSet");
   popUpSetId.style.display = "none"
}








      // convertir a archivo de excel
          function exportTableToExcel(tableID, filename = ''){
                  var downloadLink;
                  var dataType = 'application/vnd.ms-excel';
                  var tableSelect = document.getElementById("datatable-buttons");
                  var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
                  
                  // Specify file name
                  filename = filename?filename+'.xls':'excel_data.xls';
                  
                  // Create download link element
                  downloadLink = document.createElement("a");
                  
                  document.body.appendChild(downloadLink);
                  
                  if(navigator.msSaveOrOpenBlob){
                      var blob = new Blob(['\ufeff', tableHTML], {
                          type: dataType
                      });
                      navigator.msSaveOrOpenBlob( blob, filename);
                  }else{
                      // Create a link to the file
                      downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
                  
                      // Setting the file name
                      downloadLink.download = filename;
                      
                      //triggering the function
                      downloadLink.click();
                  }
          }
      
          $(document).ready(function(){
              
              var element = $("#datatable-buttons"); // global variable
              var getCanvas; // global variable
              
              $("#btn-Convert-Html2Image").on('click', function () {
      
                      html2canvas(element, {
                      onrendered: function (canvas) {
                          $("#previewImage").append(canvas);
                              getCanvas = canvas;                
                              
                              var imgageData = getCanvas.toDataURL("image/png");
                                  // Now browser starts downloading it instead of just showing it
                                  var newData = imgageData.replace(/^data:image\/png/, "data:application/octet-stream");
                                  $("#btn-Convert-Html2Image").attr("download", "icheck-imagen-consulta.png").attr("href", newData);                
                              }            
                          });    
                      });
                  });
   </script>
   <!-- bundle -->
   <script src="assets/js/vendor.min.js"></script>
   <script src="assets/js/app.min.js"></script>
   <!-- third party js -->
   <script src="assets/js/vendor/jquery.dataTables.min.js"></script>
   <script src="assets/js/vendor/dataTables.bootstrap4.js"></script>
   <script src="assets/js/vendor/dataTables.responsive.min.js"></script>
   <script src="assets/js/vendor/responsive.bootstrap4.min.js"></script>
   <script src="assets/js/vendor/dataTables.buttons.min.js"></script>
   <script src="assets/js/vendor/buttons.bootstrap4.min.js"></script>
   <script src="assets/js/vendor/buttons.html5.min.js"></script>
   <script src="assets/js/vendor/buttons.flash.min.js"></script>
   <script src="assets/js/vendor/buttons.print.min.js"></script>
   <script src="assets/js/vendor/dataTables.keyTable.min.js"></script>
   <script src="assets/js/vendor/dataTables.select.min.js"></script>
   <!-- third party js ends -->
   <!-- demo app -->
   <script src="assets/js/pages/demo.datatable-init.js"></script>
   <!-- end demo js-->
</html>