<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sancode86</title>    
    <%- include('partials/head') %>
</head>
<body id="bodyId" class="esconder">    
    <%- include('partials/spinner') %>
    <%- include('partials/navbar') %>
    <br>
    <br>     
    <br>
 
    <section class="vh-100">
        <div class="container py-5 h-100 text-center">
           <h1>Home</h1>
           

           <% for(var i = 0; i<articulosobj.length; i++){  %>   
            <% if(articulosobj[i].habilitado === true){  %>         
            <div class="targetaPost">
                <p class="creadorPost"><%=articulosobj[i].usuarioCreadorNombre%></p>
               <img src="/uploads/<%=articulosobj[i].imgartUrl%>" alt="post-img" class="imagenPost" />
               <h1><%=articulosobj[i].titulo%></h1>
               <hr>
               <p><%=articulosobj[i].descripcion%></p>
               <p class="tipoPostPublico"><%=articulosobj[i].tipoPost%></p>              
            </div>
            <%}%> 
            <%}%> 
        </div>
    </section>
 
</body>
</html>
<%- include('partials/postFooter') %>
