<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <title>Mis Posts detalles | sancode86</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta content="sancode86 | Software Argentina" name="description" />
      <meta content="sancode86" name="author" />
     
      <%- include('partials/head') %>

   </head>
   <body id="bodyId" class="esconder">
      <%- include('partials/spinner') %>
      <%- include('partials/navbar') %>

      <br>
        <br>     
        <br>
        <br>
        <br>



      <div class="text-center">
      <h1>Posteos cargados</h1>                        
      <a href="/panel" class="btn btn-primary">Volver</a> 
      </div>
      <br>
      <div class="content-page">
         <div class="content">

            <div class="container-fluid">          
               <div id="previewImage" style="display: none;"></div>
               <div class="row">
                  <div class="col-12">
                     <div class="card">
                        <div class="card-body">                        
                           <ul class="nav nav-tabs nav-bordered mb-3">
                              <li class="nav-item">
                                 <a href="#buttons-table-general" data-toggle="tab" aria-expanded="false" class="nav-link active">
                                 General
                                 </a>
                              </li>                             
                           </ul>                                                   
                           <div class="tab-content">
                              <div class="tab-pane show active" id="buttons-table-general">
                                 <table id="datatable-buttons" class="table table-striped dt-responsive nowrap w-100">
                                    <thead>
                                       <tr>
                                          <th>Imágen</th>
                                          <th>Titulo</th>
                                          <th>Descripcion</th>
                                          <th>Tipo</th>                                       
                                          <th>Habilitado</th>
                                          <th>Acción</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <% for(var i = 0; i<posteos.length; i++){  %>          
                                       <tr>
                                          <td><img src="/uploads/<%=posteos[i].imgartUrl%>" alt="contact-img" title="contact-img" class="rounded mr-3" height="48" /></td>
                                          <td><%=posteos[i].titulo%></td>
                                          <td style="max-width: 660px;"><%=posteos[i].descripcion%></td>
                                          <td><%=posteos[i].tipoPost%></td>                                 
                                         
                                     
                                          <td>                                                             
                                             <input type="checkbox"  class="form-check-input" onchange="window.location.href='/estado-post/<%= posteos[i]._id %>'"  data-switch="success" <%= posteos[i].habilitado ? 'checked':'unchecked' %> />                                                               
                                                        
                                          </td>
                                          <td class="table-action">   
                                             <a href="/editar-post/<%=posteos[i]._id %>" class="btn btn-outline-primary"> Editar</a>                                                             
                                             <a href="/borrar-post/<%=posteos[i]._id %>" class="btn btn-danger"> Borrar</a>
                                          </td>
                                       </tr>
                                       <%}%> 
                                    </tbody>
                                 </table>
                              </div>                    
                           </div>                  
                        </div>          
                     </div>           
                  </div>
               </div>
            </div>  
         </div>
      </div>   
      </div>
   </body>
   <%- include('partials/postFooter') %>  


</html>