<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />


      <!-- PRELOADERS!!!!!!!!!! -->
      <link rel="preload" href="assets/js/jquery.min.js" as="script"> 
      <link rel="preload" href="assets/js/vendor/jquery.dataTables.min.js" as="script"> 
      <link rel="preload" href="assets/js/vendor/dataTables.bootstrap4.js" as="script"> 
      <link rel="preload" href="assets/js/pages/demo.datatable-init.js" as="script"> 
      <link rel="preload" href="/css/estiloinstru.css" as="style">   
      <link rel="preload" href="/css/animate.css" as="style">  
      <link rel="preload" href="/css/bootstrap.min.css" as="style">  
      <link rel="preload" href="assets/css/icons.min.css" as="style">  

      <!-- CSS -->
      <link rel="stylesheet" href="/css/estiloinstru.css" />
      <link rel="stylesheet" href="/css/animate.css" /> 
      <link rel="stylesheet" href="/css/bootstrap.min.css" />
      <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />

      <!-- JAVASCRIPT -->
      <script src="assets/js/jquery.min.js"></script>  


      <title>Pantalla Carga Instrumentacion</title>
   </head>






   <body id="bodyId" class="esconder">

      <!-- PRELOADER SPIN -->
<div class="centrarSpiner" id="spiner">
   <div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>



      <div class="stickyTop animate__animated animate__fadeInDown" id="stickyTop">
         <h4 class="text-center">Carga de Información</h4>
         <div class="progress">
            <div
               class="progress-bar progress-bar-striped active"
               role="progressbar"
               id="barraProgreso"
               aria-valuenow="25"
               aria-valuemin="0"
               aria-valuemax="100"
               style="width: 25%"
               ></div>
         </div>
      </div>
      <div class="centrar" id="etapa1">
         <div class="card">
            <div class="card-body">
               <h4 class="text-center">Nombre Instrumentador/a</h4>
               <input type="text" name="nombreInstutucion" class="form-control
                  camposEstilo" placeholder="<%= user.email %>" value="<%= user.email
                     %>" maxlength="55"" />
               <br />
               <h4 class="text-center">Nombre Doctor</h4>
               <input type="text" name="nombreDoctor" class="form-control
                  camposEstilo" maxlength="55"" />
               <br />
               <h4 class="text-center">Institución</h4>
               <input type="text" name="nombrePaciente" class="form-control
                  camposEstilo" maxlength="55"" />
               <br />
               <h4 class="text-center">Fecha Cirugía</h4>
               <input type="date" class="form-control" onfocus="blur();" />
               <br />
               <h4 class="text-center">Opción Genérica 1</h4>
               <select name="dato1" class="form-control">
                  <option disabled selected>Seleccionar</option>
                  <option value="abc1">abc1</option>
                  <option value="abc2">abc2</option>
                  <option value="abc3">abc3</option>
                  <option value="abc4">abc4</option>
                  <option value="abc5">abc5</option>
               </select>
               <br />
               <h4 class="text-center">Opción Genérica 2</h4>
               <select name="dato2" class="form-control">
                  <option disabled selected>Seleccionar</option>
                  <option value="123a">123a</option>
                  <option value="123b">123b</option>
                  <option value="123c">123c</option>
                  <option value="123d">123d</option>
                  <option value="123e">123e</option>
               </select>
               <br />
               <br />
            </div>
         </div>
      </div>
      <div class="centrar" id="etapa2" style="display: none">
         <div class="card">
            <div class="card-body">
               <h4 class="text-center">Nombre Paciente</h4>
               <input type="text" name="nombreDoctor" class="form-control
                  camposEstilo" maxlength="55"" />
               <br />
               <h4 class="text-center">Dato Paciente</h4>
               <input type="text" name="nombrePaciente" class="form-control
                  camposEstilo" maxlength="55"" />
               <br />
               <h4 class="text-center">Opción Genérica 3</h4>
               <select name="dato1" class="form-control">
                  <option disabled selected>Seleccionar</option>
                  <option value="abc1">abc1</option>
                  <option value="abc2">abc2</option>
                  <option value="abc3">abc3</option>
                  <option value="abc4">abc4</option>
                  <option value="abc5">abc5</option>
               </select>
               <br />
               <br />
            </div>
         </div>
      </div>
      <div class="" id="etapa3" style="display: none">
         <div class="centrar">
            <div class="card">
               <div class="card-body">
                  <h4 class="text-center">Seleccionar Set o Instrumental</h4>
                  <button class="btn btn-success botonEscanear">ESCANEAR CODIGO</button>
                  <button class="btn btn-success botonEscanear" onclick="mostrarBuscarCodigo();">BUSCAR CODIGO</button>

                  <div id="buscarCodigo" class="animate__animated animate__fadeIn" style="display: none;">          


                              <table id="basic-datatable" class="table table-striped dt-responsive w-100 estiloTabla animate__animated animate__fadeIn">
                                 <thead>
                                    <tr>
                                       <th>Imágen</th>
                                       <th>Código</th>
                                       <th>Nombre</th>
                                       <th>Seleccion</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <% for(var i = 0; i<setobj.length; i++){  %>   
                                    <%if(setobj[i].habilitado == true){   %>       
                                    <tr>
                                       <td><img src="/uploads/<%=setobj[i].imgartUrl%>" alt="contact-img" title="contact-img" class="imagenComponenteVista" height="48" /></td>
                                       <td id="codigoSet<%=i%>"><%=setobj[i].codigoSet%></td>
                                       <td id="nombreSet<%=i%>"><%=setobj[i].nombreSet%></td>
                                       <p style="display: none;" id="imagenComponenteSet<%=i%>" ><%=setobj[i].imgartUrl%></p>
                                       <p style="display: none;" id="componentesSet<%=i%>" ><%=setobj[i].componentesSet%></p>
                                       <td class="agregarComponente">     
                                          <button onclick="agregarParaUsarSet(<%=i%>)"  class="btn btn-success btn-xs">AGREGAR</button>  
                                       </td>
                                    </tr>
                                    <%}%> 
                                    <%}%> 
                                    <% for(var i = 0; i<articulosobj.length; i++){  %>   
                                    <%if(articulosobj[i].habilitado == true){   %>       
                                    <tr>
                                       <td><img src="/uploads/<%=articulosobj[i].imgartUrl%>" alt="contact-img" title="contact-img" class="imagenComponenteVista" height="48" /></td>
                                       <td id="codigoComponente<%=i%>"><%=articulosobj[i].codigoArticulo%></td>
                                       <td id="nombreComponente<%=i%>"><%=articulosobj[i].nombre%></td>
                                       <p style="display: none;" id="imagenComponente<%=i%>" ><%=articulosobj[i].imgartUrl%></p>
                                       <td class="agregarComponente">     
                                          <button onclick="agregarParaUsar(<%=i%>)"  class="btn btn-success btn-xs">AGREGAR</button>  
                                       </td>
                                    </tr>
                                    <%}%> 
                                    <%}%> 
                                 </tbody>
                              </table>


               </div>


                  <br />      
               </div>
            </div>
         </div>
         <br />
 
         <div class="centrar">
            <h4 class="text-center">Componentes/Set Elegidos</h4>
            <div id="componentesDelSetId" class="contenedorComponentes">
               <!-- componentes -->
            </div>
            <br />
            <br />
         </div>
         <br />
         <br />
      </div>
      <div id="popUpSet" class="popUpSet centrar animate__animated animate__fadeIn" style="display: none;">
         <h4 class="page-title">Componentes del Set</h4>
         <button onclick="cerrarPopUpSet()" class="cerrarSet btn btn-success">Cerrar</button>    
         <div id="componentesDelSetVista" class="contenedorComponentesVista">
            <!-- componentes -->  
         </div>
      </div>
      <div class="centrar" id="etapa4" style="display: none">
         <div class="card">
            <div class="card-body">
               <h4 class="text-center">Indicar componentes utilizados</h4>           
         <table class="table table-striped">  
                  <thead>
                     <tr>
                        <th>Imágen</th>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Seleccion</th>
                     </tr>
                  </thead>
                  <tbody id="contentedorFilasComponentesUsados">
                  </tbody>
               </table>
            </div>
         </div>
      </div>


      <form action="/enviar-info-app" method="POST" id="formulario" style="display: none">
         <div class="form-group">
             <input id="campoActualizarParaMandarMail" type="text" name="informacion" class="form-control" placeholder="informacion" >
         </div>      
         <button class="btn btn-primary btn-block">Enviar</button>                            
     </form>







      <div class="ultimaEtapa" id="etapa5" style="display: none">
         <img src="/img/check.png" class="checkpng animate__animated animate__bounceIn" />
      </div>
      <br />
      <div class="stickyBottom animate__animated animate__fadeInUp" id="stickyBottom" style="display: none">
         <button
            class="btn btn-danger espacioBotonVolver"
            onclick="etapaAnterior();"
            id="botonVolver"
            >
         VOLVER
         </button>
         <button class="btn btn-success" onclick="etapaSiguiente();" id="botonSiguiente">
         SIGUIENTE
         </button>
      </div>
   </body>
</html>






<script>
   //para el spiner y la pantalla de carga
   window.onload = function(){
   $('#spiner').fadeOut();
   $('#bodyId').removeClass('esconder');
   $('#stickyBottom').css("display","flex");
   }
   
   </script>















<script type="text/javascript">
   var etapa1 = document.getElementById("etapa1");
   var etapa2 = document.getElementById("etapa2");
   var etapa3 = document.getElementById("etapa3");
   var etapa4 = document.getElementById("etapa4");
   var etapa5 = document.getElementById("etapa5");
   
   var botonVolver = document.getElementById("botonVolver");
   var barraProgreso = document.getElementById("barraProgreso");
   var stickyBottom = document.getElementById("stickyBottom");
   var stickyTop = document.getElementById("stickyTop");
   
   var botonSiguiente = document.getElementById("botonSiguiente");  
   var bodyId = document.getElementById("bodyId");
   var contentedorFilasComponentesUsados = document.getElementById("contentedorFilasComponentesUsados");
   
   var etapaActual = 1;
   
   habilitarVolver();
   function habilitarVolver() {
     if (etapaActual == 1) {
       botonVolver.style.display = "none";     
     } else {
       botonVolver.style.display = "block";
     }
   }
   
   function etapaAnterior() {
     if (etapaActual != 1) {
       etapaActual -= 1;
     }
     mostrarEtapa();
   }
   function etapaSiguiente() {
     etapaActual += 1;
     mostrarEtapa();
   }
   
   function mostrarEtapa() {
     habilitarVolver();
   
     if(etapaActual == 4){
       botonSiguiente.innerHTML = "TERMINAR"
     }else{
       botonSiguiente.innerHTML = "SIGUIENTE"
     }
   
     switch (etapaActual) {
       case 1:
       document.getElementById("etapa1").classList.add("animate__animated", "animate__fadeIn");
         barraProgreso.ariaValueNow = "25";
         barraProgreso.style.width = "25%";
         etapa1.style.display = "block";
         etapa2.style.display = "none";
         etapa3.style.display = "none";
         etapa4.style.display = "none";
         etapa5.style.display = "none";
         break;
   
       case 2:
      
       document.getElementById("etapa2").classList.add("animate__animated", "animate__fadeIn");
   
      
         barraProgreso.ariaValueNow = "50";
         barraProgreso.style.width = "50%";
         etapa1.style.display = "none";
         etapa2.style.display = "block";
         etapa3.style.display = "none";
         etapa4.style.display = "none";
         etapa5.style.display = "none";
         break;
   
       case 3:
   
       document.getElementById("etapa3").classList.add("animate__animated", "animate__fadeIn");
   
         barraProgreso.ariaValueNow = "75";
         barraProgreso.style.width = "75%";
         etapa1.style.display = "none";
         etapa2.style.display = "none";
         etapa3.style.display = "block";
         etapa4.style.display = "none";
         etapa5.style.display = "none";
         break;
   
       case 4:
   
       document.getElementById("etapa4").classList.add("animate__animated", "animate__fadeIn");
       
         mostrarTodoParaIndicarUtilizado();

         barraProgreso.ariaValueNow = "90";
         barraProgreso.style.width = "90%";
         etapa1.style.display = "none";
         etapa2.style.display = "none";
         etapa3.style.display = "none";
         etapa4.style.display = "block";
         etapa5.style.display = "none";
         break;
   
       case 5:

         //Final

         etapa1.style.display = "none";
         etapa2.style.display = "none";
         etapa3.style.display = "none";
         etapa4.style.display = "none";
         etapa5.style.display = "block";
         stickyTop.style.display = "none";
         stickyBottom.style.display = "none";
   
       bodyId.classList.add("noScroll");
   
         enviarInformacion();

         break;
   
       default:
       // code block
     }
   }  
   
   
   var todoLoUtilizadoASubir = document.getElementById("todoLoUtilizado");
   var componentesUtilizadosCirugia = [];
   var componentesElegidosFinales = [];
   var componentesDelSetDiv = document.getElementById("componentesDelSetId");
   chequearSiSetVacio();
   
   
   function agregarParaUsarSet(i){  
     var rutaImagen =  document.getElementById("imagenComponenteSet" + i).innerHTML;
     var codigo =  document.getElementById("codigoSet" + i).innerHTML;
     var nombre =  document.getElementById("nombreSet" + i).innerHTML;
     var componentes =  document.getElementById("componentesSet" + i).innerHTML;
     var componente = {    
         "nombre": nombre,
         "codigo": codigo,
         "imagen": rutaImagen,  
         "componentes": JSON.parse(componentes),
         "tipo": "set",
         "usadoEnCirugia" : "no"                                                        
         };
     componentesUtilizadosCirugia.push(componente);  
     console.log(componentesUtilizadosCirugia)
     dibujarComponentesDelSet();
     chequearSiSetVacio();
     actualizarArraySet();
   }
   
   function agregarParaUsar(i){  
     var rutaImagen =  document.getElementById("imagenComponente" + i).innerHTML;
     var codigo =  document.getElementById("codigoComponente" + i).innerHTML;
     var nombre =  document.getElementById("nombreComponente" + i).innerHTML;
   
     var componente = {    
         "nombre": nombre,
         "codigo": codigo,
         "imagen": rutaImagen,
         "tipo": "componente",
         "usadoEnCirugia" : "no"                                                     
         };
   
     componentesUtilizadosCirugia.push(componente);  
     console.log(componentesUtilizadosCirugia)
     dibujarComponentesDelSet();
     chequearSiSetVacio();
     actualizarArraySet();
   }
   
   function dibujarComponentesDelSet(){
   componentesDelSetDiv.innerHTML = "";
     for(var i = 0; i<componentesUtilizadosCirugia.length; i++){
         var divParaComponente = document.createElement("div");
         divParaComponente.setAttribute("class", "tarjetaComp");  
         divParaComponente.setAttribute("id", "div" + i);  
         componentesDelSetDiv.appendChild(divParaComponente);  
   
         var divCreado = "div" + i;
   
        var divCreadoId =  document.getElementById(divCreado)
   
        var texto1 = document.createElement("p");
        texto1.innerHTML = componentesUtilizadosCirugia[i].nombre;   
        texto1.setAttribute("class", "textoTar");       
         divCreadoId.appendChild(texto1);   
   
   
         var texto2 = document.createElement("p");
         texto2.innerHTML = componentesUtilizadosCirugia[i].codigo;   
         texto2.setAttribute("class", "textoTar");       
         divCreadoId.appendChild(texto2);   
   
   
         var crearImagen = document.createElement("img");
         crearImagen.src = "uploads/" + componentesUtilizadosCirugia[i].imagen;   
         crearImagen.setAttribute("class", "imagenComponente");       
         divCreadoId.appendChild(crearImagen);   
   
         if(componentesUtilizadosCirugia[i].tipo == "set"){
                 var botonSacarComponente = document.createElement("button");
                 botonSacarComponente.innerHTML = "VER";   
                 botonSacarComponente.setAttribute("class", "btn btn-success btn-xs");  
                 botonSacarComponente.setAttribute("onclick", "mostrarContenidoSet(" + JSON.stringify(componentesUtilizadosCirugia[i].componentes) + ");");      
                 divCreadoId.appendChild(botonSacarComponente); 
         }
   
         var botonSacarComponente = document.createElement("button");
         botonSacarComponente.innerHTML = "QUITAR";   
         if(componentesUtilizadosCirugia[i].tipo == "set"){
           botonSacarComponente.setAttribute("class", "btn btn-danger btn-xs aireBotoncitos");  
           }else{
           botonSacarComponente.setAttribute("class", "btn btn-danger btn-xs");  
         }
         botonSacarComponente.setAttribute("onclick", "sacarComponenteDelSet(" + i + ");");      
         divCreadoId.appendChild(botonSacarComponente);  
   
     }
     chequearSiSetVacio();
     actualizarArraySet();
   }
   
   function sacarComponenteDelSet(i){   
   componentesUtilizadosCirugia.splice(i,1);
     dibujarComponentesDelSet();
     chequearSiSetVacio();
     actualizarArraySet();
   }
   
   function chequearSiSetVacio(){
   
       if(componentesUtilizadosCirugia.length == 0){
         componentesDelSetDiv.innerHTML = "";  
         var textoVacio = document.createElement("h6");  
         textoVacio.innerHTML = "(Vacío)";   
         componentesDelSetDiv.appendChild(textoVacio);     
     }
   }
   
   
   function mostrarContenidoSet(contenido){
       console.log(contenido)
       var componentesDelSetDiv = document.getElementById("componentesDelSetVista");
   
       componentesDelSetDiv.innerHTML = "";
       for(var i = 0; i<contenido.length; i++){
                var divParaComponente = document.createElement("div");
                divParaComponente.setAttribute("class", "tarjetaCompVista");  
                divParaComponente.setAttribute("id", "divVista" + i);  
                componentesDelSetDiv.appendChild(divParaComponente);  
   
                var divCreadoVista = "divVista" + i;
   
                var divCreadoId =  document.getElementById(divCreadoVista)
   
                var texto1 = document.createElement("p");
                texto1.innerHTML = contenido[i].nombre;   
                texto1.setAttribute("class", "textoTar");       
                divCreadoId.appendChild(texto1);   
   
   
                var texto2 = document.createElement("p");
                texto2.innerHTML = contenido[i].codigo;   
                texto2.setAttribute("class", "textoTar");       
                divCreadoId.appendChild(texto2);   
   
   
                var crearImagen = document.createElement("img");
                crearImagen.src = "uploads/" + contenido[i].imagen;   
                crearImagen.setAttribute("class", "imagenComponenteVista");       
                divCreadoId.appendChild(crearImagen);  
       }
   
       var popUpSetId = document.getElementById("popUpSet");
   
       popUpSetId.style.display = "block"
   }   
   
   function cerrarPopUpSet(){
    var popUpSetId = document.getElementById("popUpSet");
    popUpSetId.style.display = "none"
   }   
   
   function actualizarArraySet(){
     // todoLoUtilizadoASubir.value = JSON.stringify(componentesUtilizadosCirugia)
   } 

   function mostrarBuscarCodigo(){

     var mostrar = document.getElementById("buscarCodigo");

      if(mostrar.style.display == "block"){
         mostrar.style.display = "none";
      }else{
         mostrar.style.display = "block";
      }

   }

function mostrarTodoParaIndicarUtilizado(){  
   componentesElegidosFinales = [...componentesUtilizadosCirugia];
   



   contentedorFilasComponentesUsados.innerHTML = "";
   console.log("Componentes utilizados", componentesUtilizadosCirugia)
   console.log("Componentes finales!", componentesElegidosFinales);  

   for(var i = 0; i<componentesUtilizadosCirugia.length; i++){   

      var trParaComponente = document.createElement("tr"); 
      trParaComponente.setAttribute("id", "trParaComponente" + i); 
      contentedorFilasComponentesUsados.appendChild(trParaComponente);  

      var trParaComponenteIdTemporal = document.getElementById("trParaComponente" + i)

      var tdParaComponenteImagen = document.createElement("td"); 
      tdParaComponenteImagen.setAttribute("id", "tdParaComponenteImagen" + i); 
      trParaComponenteIdTemporal.appendChild(tdParaComponenteImagen);       

      var idTemporal = document.getElementById("tdParaComponenteImagen" + i)

      var crearImagen = document.createElement("img");
      crearImagen.src = "uploads/" + componentesUtilizadosCirugia[i].imagen;   
      crearImagen.setAttribute("class", "imagenComponenteVista");       
      idTemporal.appendChild(crearImagen);     

      var tdParaComponente = document.createElement("td");
      tdParaComponente.innerHTML = componentesUtilizadosCirugia[i].codigo;
      // tdParaComponente.setAttribute("class", "tarjetaCompVista");   
      trParaComponenteIdTemporal.appendChild(tdParaComponente);  

      var tdParaComponente = document.createElement("td");
      tdParaComponente.innerHTML = componentesUtilizadosCirugia[i].nombre;
      // tdParaComponente.setAttribute("class", "tarjetaCompVista");   
      trParaComponenteIdTemporal.appendChild(tdParaComponente);       

      var tdParaComponenteBotonUsado = document.createElement("td"); 
      tdParaComponenteBotonUsado.setAttribute("id", "tdParaComponenteBotonUsado" + i); 
      trParaComponenteIdTemporal.appendChild(tdParaComponenteBotonUsado);  

      var idTemporal = document.getElementById("tdParaComponenteBotonUsado" + i)

            if(componentesUtilizadosCirugia[i].tipo == "componente"){
               var botonSacarComponente = document.createElement("button");
               botonSacarComponente.innerHTML = "SIN USAR";  
               botonSacarComponente.setAttribute("id", "componenteUnicoBoton" + i);       
               botonSacarComponente.setAttribute("class", "btn btn-danger btn-xs");   
               botonSacarComponente.setAttribute("onclick", "componenteFueUsado(" + i + ");");      
               idTemporal.appendChild(botonSacarComponente);  
            }

            if(componentesUtilizadosCirugia[i].tipo == "set"){
               var botonMostrarComponente = document.createElement("button");
               botonMostrarComponente.innerHTML = "ABRIR";   
               botonMostrarComponente.setAttribute("id", "btnAbrirComponente" + i);        
               botonMostrarComponente.setAttribute("class", "btn btn-warning btn-xs");   
               botonMostrarComponente.setAttribute("onclick", "botonMostrarComponentes(" + i + ");");      
               idTemporal.appendChild(botonMostrarComponente);  
            } 

            if(componentesUtilizadosCirugia[i].tipo == "set"){

                     for(var j=0; j<componentesUtilizadosCirugia[i].componentes.length; j++){ 
                        var componentesMostrarDelSet = componentesUtilizadosCirugia[i].componentes;

                

                                    var divParaComponente = document.createElement("div"); 
                                    divParaComponente.setAttribute("id", "divComponente" + i); 
                                    divParaComponente.setAttribute("class", "divComponentesMostrar animate__animated animate__fadeIn"); 
                                    divParaComponente.setAttribute('style', 'display:none'); 
                                    
                                    contentedorFilasComponentesUsados.appendChild(divParaComponente);  


                                    var idTemporalDiv = document.getElementById("divComponente" + i); 


                                    var trParaComponente = document.createElement("tr"); 
                                    trParaComponente.setAttribute("id", "trParaComponenteB" + i + j); 
                                    trParaComponente.setAttribute("class", "trEspecialFinal");                                     
                                    idTemporalDiv.appendChild(trParaComponente);  

                                    var trParaComponenteIdTemporal = document.getElementById("trParaComponenteB" + i + j); 

                                    var tdParaComponenteImagen = document.createElement("td"); 
                                    tdParaComponenteImagen.setAttribute("id", "tdParaComponenteImagenB" + i + j); 
                                    trParaComponenteIdTemporal.appendChild(tdParaComponenteImagen);       

                                    var idTemporal = document.getElementById("tdParaComponenteImagenB" + i + j); 

                                    var crearImagen = document.createElement("img");
                                    crearImagen.src = "uploads/" + componentesMostrarDelSet[j].imagen;   
                                    crearImagen.setAttribute("class", "imagenComponenteVista");       
                                    idTemporal.appendChild(crearImagen);     

                                    var tdParaComponente = document.createElement("td");
                                    tdParaComponente.innerHTML = componentesMostrarDelSet[j].codigo;
                                    // tdParaComponente.setAttribute("class", "tarjetaCompVista");   
                                    trParaComponenteIdTemporal.appendChild(tdParaComponente);  

                                    var tdParaComponente = document.createElement("td");
                                    tdParaComponente.innerHTML = componentesMostrarDelSet[j].nombre;
                                    // tdParaComponente.setAttribute("class", "tarjetaCompVista");   
                                    trParaComponenteIdTemporal.appendChild(tdParaComponente);       

                                    var tdParaComponenteBotonUsado = document.createElement("td"); 
                                    tdParaComponenteBotonUsado.setAttribute("id", "tdParaComponenteBotonUsadoB" + i + j); 
                                    trParaComponenteIdTemporal.appendChild(tdParaComponenteBotonUsado);  

                                    var idTemporal = document.getElementById("tdParaComponenteBotonUsadoB" + i + j); 

                                    var botonSacarComponente = document.createElement("button");
                                    botonSacarComponente.innerHTML = "SIN USAR";       
                                    botonSacarComponente.setAttribute("id", "componenteUnicoBotonSet" + i + j);      
                                    botonSacarComponente.setAttribute("class", "btn btn-danger btn-xs");   
                                    botonSacarComponente.setAttribute("onclick", "componenteFueUsadoDeUnSet(" + i + "," + j + ");");      
                                    idTemporal.appendChild(botonSacarComponente);  



                     }

          
         }
   }  
}


  
function componenteFueUsado (i){
         // Campos que puede traer un componente o set
         // "nombre": nombre,
         // "codigo": codigo,
         // "imagen": rutaImagen,    
         // "tipo": "componente"    
         //"usadoEnCirugia" : "no"   

         componentesElegidosFinales[i].usadoEnCirugia = "si";

         var componenteBoton = document.getElementById("componenteUnicoBoton" + i);

         if(componenteBoton.innerHTML == "SIN USAR"){
         // componentesElegidosFinales.push(componentesUtilizadosCirugia[i]);        
         componenteBoton.innerHTML = "USADO"; 
         componenteBoton.setAttribute("class", "btn btn-success btn-xs");  
         }else{
            // componentesElegidosFinales.splice(i,1);
         componenteBoton.innerHTML = "SIN USAR"; 
         componenteBoton.setAttribute("class", "btn btn-danger btn-xs");  
         }


         console.log("Componentes finales!", componentesElegidosFinales);   

}






function componenteFueUsadoDeUnSet (i, j){
           // Campos que puede traer un componente o set
         // "nombre": nombre,
         // "codigo": codigo,
         // "imagen": rutaImagen,  
         // "componentes": JSON.parse(componentes), <----- SOLO si es un SET
         // "tipo": "set"    
         //"usadoEnCirugia" : "no"     



        var componenteBuscar = componentesElegidosFinales[i].componentes;

         var componenteBoton = document.getElementById("componenteUnicoBotonSet" + i + j);

         componenteBuscar[j].usadoEnCirugia = "si";
   
         if(componenteBoton.innerHTML == "SIN USAR"){
         // componentesElegidosFinales.push(componenteBuscar[j]);        
         componenteBoton.innerHTML = "USADO"; 
         componenteBoton.setAttribute("class", "btn btn-success btn-xs");  
         }else{
            // componentesElegidosFinales.splice(i,1);
         componenteBoton.innerHTML = "SIN USAR"; 
         componenteBoton.setAttribute("class", "btn btn-danger btn-xs");  
         }


         console.log("Componentes finales!", componentesElegidosFinales);   

}
















function botonMostrarComponentes(i){

   console.log("Componentes del set", componentesUtilizadosCirugia[i].componentes);  
   var listadoComponentesAMostrar = document.getElementById("divComponente" + i);
   var botonMostrarComponenteTexto = document.getElementById("btnAbrirComponente" + i);  



   if(listadoComponentesAMostrar.style.display == "contents"){
      listadoComponentesAMostrar.style.display = "none";
      botonMostrarComponenteTexto.innerHTML = "ABRIR";   
      }else{
         listadoComponentesAMostrar.style.display = "contents";
         botonMostrarComponenteTexto.innerHTML = "CERRAR";   
      }


}






function enviarInformacion(){
 var campoInfo = document.getElementById("campoActualizarParaMandarMail");

 campoInfo.value = JSON.stringify(componentesElegidosFinales);

 const form  = document.getElementById("formulario");
 form.submit();

}







</script>


<script src="assets/js/vendor/jquery.dataTables.min.js"></script>
<script src="assets/js/vendor/dataTables.bootstrap4.js"></script>
<script src="assets/js/pages/demo.datatable-init.js"></script>








<!-- <script src="assets/js/vendor.min.js"></script>
<script src="assets/js/app.min.js"></script> -->
<!-- third party js -->
<!-- <script src="assets/js/vendor/dataTables.responsive.min.js"></script>
<script src="assets/js/vendor/responsive.bootstrap4.min.js"></script> -->

<!-- <script src="assets/js/vendor/dataTables.buttons.min.js"></script>
<script src="assets/js/vendor/buttons.bootstrap4.min.js"></script> -->

<!-- <script src="assets/js/vendor/buttons.html5.min.js"></script>
<script src="assets/js/vendor/buttons.flash.min.js"></script> -->

<!-- <script src="assets/js/vendor/dataTables.keyTable.min.js"></script>
<script src="assets/js/vendor/dataTables.select.min.js"></script> -->


<!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script> -->



