
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sancode - Perfil del Usuario</title>
    <%- include('partials/barra') %>
</head>

<style>
     @media (max-width: 767.98px){     
        .maxwidth{
        width: 90% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        }        
    }

    .maxwidth{
        width: 70%;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    p{
        font-size: 17px;
    }

</style>

<body id="bodyId" class="esconder">
    <%- include('partials/spinner') %>

    <div class="login-dark">
       
        <div class="card text-center mt-5 maxwidth">
            <div class="card-body ">

                <h2 class="card-tittle">
                    <span class="fa fa-user"></span> Información del Usuario</h2>
                <p>
                    <strong>Id</strong>: <%=user._id %> <br>
                    <strong>E-mail</strong>: <%=user.email %> <br>
                    <strong>Password</strong>: <%=user.password %> <br>
                    <strong>ROL</strong>: <%=user.rol %>
                </p>

                <button onclick="volver();" class="btn btn-success mt-4">Aceptar</button>

            </div>
        </div> 
    
        </br>

    </div>

</body>

<script>
    function volver(){
        history.go(-1);
    }
</script>

<script>
    //para el spiner y la pantalla de carga
    window.onload = function () {
      $("#spiner").fadeOut();
      $("#bodyId").removeClass("esconder"); 
    };
  </script>

</html>